.game {
    display: none;
}
.jumbo {
    display: none;
}
.results {
    display: none; 
}
h1 {
    text-align: center;
}
#startButton{
    position: absolute;
    left: 15%;
    top: 10%;
    size: 200%;
}
.card {
    padding: 10px;
    margin: auto;
    text-align: center;
    width: 50%;
}
#correctSign{
    display: none;
}
#incorrectSign{
    display: none;
}
#correctAnswerSign{
    display: none;
}